.Bg_QrCode_Reader {
    background-color: gray;
    width: 100vw;
    height: 100vh;
}

.cross_times {
    position: absolute;
    left: 20px;
    top: 10px;
    z-index: 10001;
}

.header_absolute {
    position: absolute;
    z-index: 10000;
    width: 100vw;
    top: 40px;
}

.InputReadQrCodeContentMobile {
    display: none;
}

.InputReadQrCodeContent {
    padding: 3vh;
}

.Cnt_Logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Poppins";
    font-weight: 1000;
}

.logo_trott_2 {
    max-width: 25vw;
    margin-bottom: 1rem;
}

.Title_Scan {
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
}

.Text_Scan {
    color: white;
    font-size: 0.9rem;
    font-weight: 500;
    letter-spacing: -0.04rem;
}

@media screen and (max-width: 768px) {
    .InputReadQrCodeContent {
        display: none;
    }
    .InputReadQrCodeContentMobile {
        display: block;
        padding: 3vh;
    }
}